h1
{
    background: red;
}

.par-1
{
    color: orange;
    font-family: Arial;
    font-weight: bold;
}

.par-2
{
    font-size: 25;
    border: 5px solid yellow;
    border-radius: 25px;
    margin-bottom: 60px;
    padding-left: 20px;
}
.par-3
{
    font-style: italic;
    font-size: 24px;
    text-shadow: green 4px 2px 2px;
    text-align: center;

}
